@model QLNhanSu.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<section class="social" id="socialLoginForm">
    
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
