@model IEnumerable<DataAccess.V_DM_DON_VI>

@helper GetAllChildNode(decimal id_parent)
{
    var child_node = Model.Where(m => m.ID_DON_VI_CAP_TREN == id_parent);
    foreach (var item in child_node)
    {
        @GetAllChildNode(item.ID);
    }
}

@{
    ViewBag.Title = "F201 - Quản lý ngườid dùng";
}

<h2>F201 - Quản lý người dùng</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th colspan="4"></th>
                <th>Mã đơn vị</th>
                <th>Tên đơn vị</th>
                <th>Số lượng</th>
                <th>Tên pháp nhân</th>
            </tr>
        </thead>
        <tbody>
            @Html.Raw(ViewBag.CoCauTOPICA)
        </tbody>
    </table>
</div>
