@using BusinessLogic.Model
@model List<CoCauTopicaModel>

@{
    ViewBag.Title = "CoCauTopica";
}

<h2>CoCauTopica</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td></td>
        </tr>
    </thead>
</table>