@{
    ViewBag.Title = "Cơ cấu TOPICA";
}

<h2 class="title-page">Cơ cấu TOPICA</h2>

<div class="table-responsive">
    <table class="table table-bordered treetable tablefilter table-topica">
        <thead>
            <tr>
                <th>Mã đơn vị</th>
                <th>Tên đơn vị</th>
                <th>Địa bàn</th>
                <th>Số lượng nhân viên</th>
                <th>Tên tiếng anh</th>
                <th>Loại đơn vị</th>
                <th>Cấp đơn vị</th>
                <th>Trạng thái</th>
                <th>Ngày thành lập</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Mã đơn vị</th>
                <th>Tên đơn vị</th>
                <th>Địa bàn</th>
                <th>Số lượng nhân viên</th>
                <th>Tên tiếng anh</th>
                <th>Loại đơn vị</th>
                <th>Cấp đơn vị</th>
                <th>Trạng thái</th>
                <th>Ngày thành lập</th>
                <th>Chi tiết</th>
            </tr>
        </tfoot>
        <tbody>
            @Html.Raw(ViewBag.CoCauTOPICA)
        </tbody>
    </table>
</div>


<!-- Large modal -->

<div class="modal fade model-donvi-detail" id="modalDonViDetails" tabindex="-1" role="dialog" aria-labelledby="modalDonViDetails" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="lblModalDonViDetails">Nhân viên phòng ban</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="table-responsive">
                        <table class="table table-bordered tablefilter table-topica" id="tblDonViDetails">
                            <thead>
                                <tr>
                                    <th>Mã nhân viên</th>
                                    <th>Họ đệm</th>
                                    <th>Tên</th>
                                    <th>Trạng thái lao động</th>
                                    <th>Chức vụ (CV)</th>
                                    <th>Ngạch</th>
                                    <th>Loại chức vụ</th>
                                    <th>Trạng thái CV</th>
                                    <th>Ngày bắt đầu CV</th>
                                    <th>Ngày kết thúc CV</th>
                                    <th>Tỷ lệ tham gia</th>
                                    <th>Mã quyết định (QĐ)</th>
                                    <th>Loại quyết định</th>
                                    <th>Ngày QĐ có hiệu lực</th>
                                    <th>Ngày QĐ hết hiệu lực</th>
                                    <th>Mã quyết định miễn nhiệm</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Mã nhân viên</th>
                                    <th>Họ đệm</th>
                                    <th>Tên</th>
                                    <th>Trạng thái lao động</th>
                                    <th>Chức vụ (CV)</th>
                                    <th>Ngạch</th>
                                    <th>Loại chức vụ</th>
                                    <th>Trạng thái CV</th>
                                    <th>Ngày bắt đầu CV</th>
                                    <th>Ngày kết thúc CV</th>
                                    <th>Tỷ lệ tham gia</th>
                                    <th>Mã quyết định (QĐ)</th>
                                    <th>Loại quyết định</th>
                                    <th>Ngày QĐ có hiệu lực</th>
                                    <th>Ngày QĐ hết hiệu lực</th>
                                    <th>Mã quyết định miễn nhiệm</th>
                                </tr>
                            </tfoot>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<br />
<br />
