@{
    ViewBag.Title = "F103 - Tra cứu thu nhập cá nhân";
}

<link href="~/Content/selectize.default.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/selectize.js"></script>
<script src="~/Scripts/index.js"></script>
<script src="~/Scripts/jquery-thunhap.js"></script>

<h2 class="title-page">F103 Tra cứu thu nhập cá nhân</h2>

<div class="table-responsive">
    <table class="table table-bordered" id="tblThuNhapCaNhan">
    </table>
</div>
<p class="loading-data"></p>
<br />
<br />
