@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@if (Request.IsAuthenticated)
{
    @: You are not authorized to view the page
}

@using (Html.BeginForm("Authenticate", "Login"))
{                 
        <input type="submit" value="Login" />
}
