@using DataAccess

@model IEnumerable<V_HT_USER>

@{
    ViewBag.Title = "F201 - Quản lý ngườid dùng";
}

<h2 class="title-page">F201 - Quản lý người dùng</h2>

<div class="table-responsive">
    <table class="table table-bordered treetable tablefilter">
        <thead>
            <tr>
                <th>Nhóm tài khoản</th>
                <th>Tài khoản Email</th>
                <th>Họ tên</th>
                <th>Mã số nhân viên</th>
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Nhóm tài khoản</th>
                <th>Tài khoản Email</th>
                <th>Họ tên</th>
                <th>Mã số nhân viên</th>
                <th></th><th></th>
            </tr>
        </tfoot>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.USER_GROUP_NAME</td>
                    <td>@item.USERNAME</td>
                    <td>@string.Format("{0} {1}", item.HO, item.TEN)</td>
                    <td>@item.CMND</td>
                    <td><a class="btn btn-primary" href="#">Sửa</a></td>
                    <td><a class="btn btn-danger" href="#">Xóa</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

