@{
    ViewBag.Title = "Cơ cấu TOPICA";
}

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/bootstrap-table.js"></script>

<h2 class="title-page">Cơ cấu TOPICA</h2>

<div class="table-responsive">
    <table class="table table-bordered treetable tablefilter table-topica">
        <thead>
            <tr>
                <th>Mã đơn vị</th>
                <th>Tên đơn vị</th>
                <th>Địa bàn</th>
                <th>Số lượng nhân viên</th>
                <th>Tên tiếng anh</th>
                <th>Loại đơn vị</th>
                <th>Cấp đơn vị</th>
                <th>Trạng thái</th>
                <th>Ngày thành lập</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            @Html.Raw(ViewBag.CoCauTOPICA)
        </tbody>
    </table>
</div>


<!-- Large modal -->

<div class="modal fade model-donvi-detail" id="modalDonViDetails" tabindex="-1" role="dialog" aria-labelledby="modalDonViDetails" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @*<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="lblModalDonViDetails">Nhân viên phòng ban</h4>
            </div>*@
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="table-responsive">
                        <table id="tblDonViDetails">
                            @*<thead>
                                <tr>
                                    <th data-field="MA_NHAN_VIEN">Mã nhân viên</th>
                                    <th data-field="HO_DEM">Họ đệm</th>
                                    <th data-field="TEN">Tên</th>
                                    <th data-field="TRANG_THAI_LD_HIEN_TAI">Trạng thái lao động</th>
                                    <th data-field="TEN_CHUC_VU">Chức vụ (CV)</th>
                                    <th data-field="NGACH">Ngạch</th>
                                    <th data-field="LOAI_CHUC_VU">Loại chức vụ</th>
                                    <th data-field="TRANG_THAI_CHUC_VU">Trạng thái CV</th>
                                    <th data-field="NGAY_BAT_DAU_CHUC_VU">Ngày bắt đầu CV</th>
                                    <th data-field="NGAY_KET_THUC_CHUC_VU">Ngày kết thúc CV</th>
                                    <th data-field="TY_LE_THAM_GIA">Tỷ lệ tham gia</th>
                                    <th data-field="MA_QUYET_DINH">Mã quyết định (QĐ)</th>
                                    <th data-field="LOAI_QUYET_DINH">Loại quyết định</th>
                                    <th data-field="NGAY_BAT_DAU_QUYET_DINH">Ngày QĐ có hiệu lực</th>
                                    <th data-field="NGAY_KET_THUC_QUYET_DINH">Ngày QĐ hết hiệu lực</th>
                                    <th data-field="MA_QUYET_DINH_MIEN_NHIEM">Mã quyết định miễn nhiệm</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>*@
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<script type="text/javascript">
    var baseUrl;
    var subDomain;

    $(document).ready(function() {
        baseUrl = jQuery('#base-url').val();
        subDomain = jQuery('#sub-domain').val();
    });
</script>