@{
    ViewBag.Title = "F102_TraCuuQuaTrinhLamViecCaNhan";
}

<h2 class="title-page">Quá trình làm việc</h2>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">Mã nhân viên</label>
        <div class="col-sm-4">
            <p class="form-control-static">@ViewBag.MaNhanVien</p>
        </div>
        <label class="col-sm-2 control-label">Họ tên</label>
        <div class="col-sm-4">
            <p class="form-control-static">@ViewBag.HoTenNV</p>
        </div>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-bordered treetable table-topica" id="tblQuaTrinhLamViecCaNhan">
        <thead>
            <tr>
                <th>Từ ngày</th>
                <th>Đến ngày</th>
                <th>Làm gì</th>
                <th>Ở đâu</th>
                <th>Vai trò</th>
                <th>Tỷ lệ tham gia</th>
                <th>Mã quyết định</th>
                <th>Loại quyết định</th>
                <th>Mã quyết định miễn nhiệm</th>
            </tr>
        </thead>
        <tbody>
            @Html.Raw(ViewBag.QuaTrinhLamViecCaNhan)
        </tbody>
    </table>
</div>

<br />
<br />
