<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RUN_MODE" value="DEVELOP"/>
    <add key="MA_DON_VI" value="GEN"/>
    <add key="MA_HE_THONG" value="KT"/>
    <add key="SERVER" value="ANHLT\SQLEXPRESS"/>
    <!--<add key="SERVER" value="(local)"/>-->
    <add key="INITIAL_DATABASE" value="BKI_HRM"/>
    <add key="FILL_DATABASE" value="BKI_HRM"/>
    <add key="DATABASE_ACCESS_MODE" value="USER_AND_PASSWORD"/>
    <add key="INITIAL_USER" value="sa"/>
    <add key="PASS_WORD" value="sa"/>
    <add key="DESTINATION_NAME" value="\\192.168.2.103\Images\"/>
    <add key="USERNAME_SHARE" value=""/>
    <add key="PASSWORD_SHARE" value=""/>
    <add key="DOMAIN" value="\\192.168.2.103\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
