<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RUN_MODE" value="DEVELOP"/>
    <add key="MA_DON_VI" value="GEN"/>
    <add key="MA_HE_THONG" value="KT"/>
    <!--<add key="SERVER" value="TRONGHV\SQLEXPRESS"/>-->
    <add key="SERVER" value="APPLE8"/>
    <!--<add key="SERVER" value="ANHHT\SQLEXPRESS"/>-->
    <add key="INITIAL_DATABASE" value="BKI_HRM"/>
    <add key="FILL_DATABASE" value="BKI_HRM"/>
    <add key="DATABASE_ACCESS_MODE" value="USER_AND_PASSWORD"/>
    <add key="INITIAL_USER" value="sa"/>
    <add key="PASS_WORD" value="1"/>
    <add key="DESTINATION_NAME" value="G:\ShareImages\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
