<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RUN_MODE" value="DEVELOP"/>
    <add key="MA_DON_VI" value="GEN"/>
    <add key="MA_HE_THONG" value="KT"/>
    <add key="SERVER" value=".\SQLEXPRESS"/>
    <add key="INITIAL_DATABASE" value="BKI_HRM"/>
    <add key="FILL_DATABASE" value="BKI_HRM"/>
    <add key="DATABASE_ACCESS_MODE" value="USER_AND_PASSWORD"/>
    <add key="INITIAL_USER" value="sa"/>
    <add key="PASS_WORD" value="sa"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
