<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RUN_MODE" value="DEVELOP" />	
		<add key="FONTNAME" value="BVDTArial"/>
		<add key="SERVER_NAME" value="WIN7-PC\SQLEXPRESS"/>
		<add key="DB_NAME" value="QuanLyBanHang"/>
		<add key="INITIAL_USER" value="sa"/>
		<add key="PASS_WORD" value="sa"/>

		

    <add key="LANGUAGE" value="FMS-VN"/>
	</appSettings>	
</configuration>
