@{
    ViewBag.Title = "Trang chủ";
}
<div class="container content-home-page">
    <div class="row row-1">
            <img src="~/Images/slide1.jpg" height="150" class="img-responsive img-rounded image-row col-md-4" alt="Cơ cấu TOPICA">
        <div class="col-md-8 content-row">
            <h3>Cơ cấu TOPICA</h3>
            <p>
                Tổ hợp Công nghệ giáo dục TOPICA là đơn vị dẫn đầu trong việc cung cấp các Chương trình Cử nhân trực tuyến tại Việt Nam hiện nay. 
                Từ 2008, TOPICA đã liên kết với các trường Đại học lớn có tên tuổi để triển khai các chương trình học chất lượng, với bằng cấp được công nhận rộng rãi: 
                Đại học Kinh Tế Quốc dân, Viện Đại học Mở Hà Nội, Đại học Thái Nguyên, Đại học Trà Vinh...
                Học trực tuyến (E-learning) đang là 1 xu thế giáo dục với nhiều ưu thế vượt trội.
            </p>
        </div>
    </div>

    <div class="row row-2">
            <img src="~/Images/slide2.jpg" class="img-responsive img-rounded col-md-4 image-row pull-right" alt="Cơ cấu TOPICA">
        <div class="col-md-8 content-row pull-left">
            <h3>Tra cứu thu nhập cá nhân</h3>
            <p>
                Tổ hợp Công nghệ giáo dục TOPICA là đơn vị dẫn đầu trong việc cung cấp các Chương trình Cử nhân trực tuyến tại Việt Nam hiện nay. 
                Từ 2008, TOPICA đã liên kết với các trường Đại học lớn có tên tuổi để triển khai các chương trình học chất lượng, với bằng cấp được công nhận rộng rãi: 
                Đại học Kinh Tế Quốc dân, Viện Đại học Mở Hà Nội, Đại học Thái Nguyên, Đại học Trà Vinh...
                Học trực tuyến (E-learning) đang là 1 xu thế giáo dục với nhiều ưu thế vượt trội.
            </p>
        </div>
    </div>
    
    <div class="row row-3">
            <img src="~/Images/slide3.jpg" height="150" class="img-responsive img-rounded col-md-4 image-row" alt="Cơ cấu TOPICA">
        <div class="col-md-8 content-row">
            <h3>Tra cứu thu nhập cá nhân</h3>
            <p>
                Tổ hợp Công nghệ giáo dục TOPICA là đơn vị dẫn đầu trong việc cung cấp các Chương trình Cử nhân trực tuyến tại Việt Nam hiện nay. 
                Từ 2008, TOPICA đã liên kết với các trường Đại học lớn có tên tuổi để triển khai các chương trình học chất lượng, với bằng cấp được công nhận rộng rãi: 
                Đại học Kinh Tế Quốc dân, Viện Đại học Mở Hà Nội, Đại học Thái Nguyên, Đại học Trà Vinh...
                Học trực tuyến (E-learning) đang là 1 xu thế giáo dục với nhiều ưu thế vượt trội.
            </p>
        </div>
    </div>
</div>

